// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
.ajaxItem .card {
    display: block;
    position: relative;
    cursor: pointer;
    min-height: 400px;
    height: auto;
    width: auto;
    user-select: none;
}
.hidden-radio {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    z-index: 2;
}
.span-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}
#search-results .row {
    list-style-type: none;
}
