// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// ADMIN PANEL STYLING
.ajaxItem .card {
    display: block;
    position: relative;
    cursor: pointer;
    min-height: 400px;
    height: auto;
    width: auto;
    user-select: none;
}

.hidden-radio {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.span-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

#search-results .row {
    list-style-type: none;
}

#hidden-absolute-container {
    display: none;
}

#hidden-absolute-container.shown {
    display: block;
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding: 1em;
    border-radius: 10px;
    border: 1.5px solid black;
    left: 25%;
    top: 25%;
    width: 50%;
}

td,
th {
    padding-right: 1em;
}

///

// WATCHLISTS FEATURE/ TITLE-CARD
.title-card {
    padding: 1em;
}

#dropdownMenuButton {
    float: right;
    font-weight: 900;
}

.watchlist_listitem {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.watchlist_listitem.added {
    background-color: rgba(136, 194, 136, 0.589);
}

.watchlist_listitem.error {
    background-color: red;
}

.title-card .col-6 {
    padding: 0;
    margin: 0;
}

.dropdown-menu .list-unstyled {
    padding: 0.5em;
}

.dropdown-menu .list-unstyled li {
    margin-bottom: 5px;
    padding: 0.3em 0.5em;
}

.dropdown-menu .list-unstyled li.added:hover {
    background-color: rgba(136, 194, 136, 0.377);
}

.dropdown-menu .list-unstyled li:hover:not(.added) {
    background-color: rgba(179, 179, 179, 0.377);
}

.title-card-wrapper {
    margin: 0.5em 0;
}

///////////
// this is to style the search-results filtering buttons
.hidden {
    display: none;
}

button.filter {
    border: 1.5px solid black;
}

button.selected-filter {
    background-color: rgb(151, 152, 223) !important;
}

//
// welcome page's css specifically
.carousel-item img {
    object-fit: contain;
    /* margin: 0 auto; */
}

.img-carousel-wrapper {
    position: relative;
    height: 380px;
    width: 100%;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    justify-content: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    font-size: 3rem;
}

#carouselExampleSlides {
    height: 430px;
}

.carousel-indicators > * {
    width: 50px !important;
    height: 7px !important;
    background-color: rgb(90, 73, 73) !important;
}

// footer styles
body {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

footer {
    width: 100%;
    display: inline-block;
    margin-top: auto;
}
